{% extends "ContactBook/base.html" %}
{% load el_pagination_tags %}

{% block navbar %}

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    
    <div class="bg-light p-4">
        <div id="addContactForm">
           
            <form class="form2" action=""  method="POST">
                {% csrf_token %}
                <p><b>Create new contact</b></p>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="First Name" name="first_name" required="true">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name" name="last_name" required="true">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="inputAddress" placeholder="email" name="email" required="true">
                </div>
                <div class="form-group">
                  <label for="contact_number">Contact Number</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Phone Number" name="contact_number" maxlength="10" required="true">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary ">Save</button>

              </form>
        </div>
    </div>
  </div>

    <li class="d-flex justify-content-lg-end">
        <nav class="navbar navbar-dark bg-dark">
        <button id="addContact" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          Add Contact
        </button>
        </nav>
    </li>

</div>

{% endblock navbar %}


{% block content %}

    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact Number</th>
        </tr>
      </thead>
      <tbody>

        {% paginate contacts %}
        {% for contact in contacts %}
        <tr  id="uniqueid">
                <td>{{contact.first_name}}</td>
                <td>{{contact.last_name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.contact_number}}
                    <button  title="more" class="btn btn-secondary " type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class='fa fa-ellipsis-v'></i>
                    </button> 
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                   
                      <form action="delete_contact/{{ contact.id }}/"  method="POST">
                        {% csrf_token %}
                            <button  type="submit"  class="btn btn-danger float-left "><i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                      </form>
                      <form action="edit_contact/{{ contact.id }}/"  method="GET">
                        {% csrf_token %}
                        <button type="submit"  class="btn btn-secondary float-left "><i class="fa fa-pencil" aria-hidden="true"></i></button>
                       </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% show_pages %}

      </tbody>
    </table>

{% endblock content %}